<head>
    
    <meta name = "viewport" content = "width=device-width, initial-scale = 1.0">
    <link rel = "stylesheet" href ="{{url_for('static', filename='styles.css')}}">

</head>

<body>

    <div class = "container">
        <h2>Generative AI</h2>

        <p>
            Please enter your query:
        </p>

        <form action = "/genai" method = "post">
            <p><input type = "text" name = "genaitext"></p>
            <p><input type = "submit" value = "Enter"</p>
        </form>

        <p>
            Response:<br>
            {{genairesponse}}
            <br>
        </p>

        <form action = "/main" method = "post">
            <p><input type = "submit" value = "Back"></p>
        </form>

        <form action = "/" method = "post">
            <p><input type = "submit" value = "Exit"></p>
        </form>

    </div>

</body>