<head>
    
    <meta name = "viewport" content = "width=device-width, initial-scale = 1.0">
    <link rel = "stylesheet" href ="{{url_for('static', filename='styles.css')}}">

</head>

<body>

    <div class = "container">
        <h2>Sentiment Analyser</h2>

        <p>
            Please enter text you wish to have analysed:
        </p>

        <form action = "/SA_results" method = "post">
            <p><input type = "text" name = "analysetext"></p>
            <p><input type = "submit" value = "Enter"</p>
        </form>

        <form action = "/main" method = "post">
            <p><input type = "submit" value = "Back"></p>
        </form>

        <form action = "/" method = "post">
            <p><input type = "submit" value = "Exit"></p>
        </form>

    </div>

</body>